html,
body {
   height: 100%;
   color: $default;
   font-size: 16px;
   line-height: 26px;
   background-color: #fff;
   @extend %default;
   display: flex;
   flex-direction: column;
}
.totals{
  max-width: 1920px;
  min-height: 100vh;
  margin: 0 auto;
  align-items: center;

}

.main-content{
   flex-grow: 1;
}






