$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;

%NotoSansHK-900{
   font-family: 'NotoSansHK-Black', 'Verdana', 'sans-serif';
   font-weight: 900;
}
%NotoSansHK-700{
   font-family: 'NotoSansHK-Bold', 'Verdana', 'sans-serif';
   font-weight: 700;
}
%NotoSansHK-500{
   font-family: 'NotoSansHK-Medium', 'Verdana', 'sans-serif';
   font-weight: 500;
}
%NotoSansHK-400{
   font-family: 'NotoSansHK-Regular', 'Verdana', 'sans-serif';
   font-weight: 400;
}
%NotoSansHK-300{
   font-family: 'NotoSansHK-Light', 'Verdana', 'sans-serif';
   font-weight: 300;
}
%Lobster-Regular{
   font-family: 'Lobster-Regular', sans-serif;
   font-weight: 400;
}